.pokemon {
    text-align: center;
    font-family: Arial, sans-serif;
    background-image: url('../../assets/card-bg.jpg');
    background-size: cover;
    padding: 20px;
    color: lightgray;
}

.pokemon-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 15px;
    color: black;
}

